{
  "presets": [
    ["@babel/preset-react", {
      "modules": false
    }]
  ],
  "plugins": ["@babel/plugin-syntax-dynamic-import", "@babel/plugin-proposal-class-properties"],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "node": "current"
          }
        }]
      ]
    }
  }
}